
/*#left-tabs * {
    background: #000000;
}
*/
#left-tabs * {
    font-size:14px;
	font-family: georgia, 'time new romans', serif;
    text-align:left;
    z-index:100;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}
#left-tabs {
	width: 700px;
    height: auto;
	margin: 0 auto;	
}

#left-tabs a {
    cursor: pointer;    
}
/*#left-tabs h3 {
	font-size:14px;
	font-family:verdana, helvetica, arial, sans-serif;
	letter-spacing:-1px;
	color:#fff;
	font-weight: 700;
	text-transform:uppercase;
	margin:0;
	padding:8px 0 5px 0;
}*/


/*Element w rounded corners*/
#left-tabs .panel, #left-tabs .tab {
    -moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
	border-bottom-left-radius: 0;

}

/*Tab's labels*/
#left-tabs .tab {
    position: fixed;	
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight: 700;
	display: block;
    left: -74px;
    padding: 15px 60px 15px 10px;
}
.tab#tab-cs {
    top: 60px;
    color:#000000;
    background: #a0a0a0 url(./images/icon-cs.png) 85% 55% no-repeat;
}
.tab#tab-css {
    top: 110px;
    background:#333333 url(./images/icon-css.png) 85% 55% no-repeat;
}
.tab#tab-cs:hover,
.tab#tab-css:hover {
    left: 0;
}

/*a.tab#active.tab-1 {
    background:#FF8C00 url(images/1.jpg) 85% 55% no-repeat;
}
a.tab#active.tab-2 {
    background: #990099 url(images/icon-css.png) 85% 55% no-repeat;
}*/

/*Sliding panels*/
#left-tabs .panel {
    position: fixed;
    width: 330px;
	height: auto;
	top: 50px;
    left: 0;
	padding: 30px 30px 30px 120px;
    opacity: .95;
    display: none;
}

/*!DEFAULT Panel style*/
#left-tabs .panel {
    background: #282425;
}
#left-tabs .panel .list-header {
    color: #cccccc;
    padding: 0 0 2px 0;
}
#left-tabs .panel a {
    color: #FFF042;
}
#left-tabs .panel a:hover {
    color: #ffffff;
}
#left-tabs .panel p {
	color:#cccccc;
	line-height:20px;
	padding: 5px 0 15px 0;
	margin: 0;
	text-align: justify;
}
#left-tabs .panel ul{
	padding: 0 0 0 0;
	margin: 0;
	list-style-type: none;

}
#left-tabs .panel ul.collapsed-list{
	padding: 0 0 0 10px;
}
#left-tabs .panel ul.gap {
padding: 20px 0 0 0;
}
#left-tabs .panel ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
/*panel-cs*/
#left-tabs #panel-cs {
    background: #282425;
}
#left-tabs #panel-cs .list-header {
    color: #cccccc;
    padding: 0 0 2px 0;
}
#left-tabs #panel-cs a {
    color: #FFF042;
}
#left-tabs #panel-cs a:hover {
    color: #ffffff;
}
/*panel-css*/
#left-tabs #panel-css {
    background: #b8ab79;
}
#left-tabs #panel-css .list-header {
    color: #4e1a1a;
    padding: 0 0 2px 0;
}
#left-tabs #panel-css a {
    color: #485332;
}
#left-tabs #panel-css a:hover {
     color: #ffffff;
}
#left-tabs #panel-css p {
    color: black;
}

/*Panel Elements*/
/*Column positioning*/
#left-tabs .panel .columns{
    clear: both;
    width: 330px;
    padding: 0 0 20px 0;
    line-height: 22px;
}
.columns .colleft{
    float: left;
    width: 130px;
   /* line-height: 22px;*/
}
.columns .colright{
    float: right;
    width: 130px;
    /*line-height: 22px;*/
}

/*Close button*/
#left-tabs .panel .closer {	
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 12px;
}
#left-tabs .panel .closer a img {
	width: 16px;
	height: 16px;
	padding-left: 5px;
	border: 0 solid;
	vertical-align: middle;
}
/*Image logos*/
#left-tabs .panel .img-logo {
	margin: 10px 0 0 0;
}
/*Collapsing list*/
#left-tabs .panel .collapser > ul li,
#left-tabs .panel .collapsed  > ul li {
    list-style: none;
}
#left-tabs .panel .collapser {
    list-style: none outside url(./images/collapse.png);
}
#left-tabs .panel .collapsed {
    list-style: none outside url(./images/collapse2.png);
}
/*Soon labels*/
#left-tabs .panel .soon {
    font-size: 10px !important;
    position: relative;
    top: -8px;
    left: 1px;
    color: #7e7e7e;
}